
.account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  z-index: 1000;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  text-align: left;
}
